body.fixed-header {
 /* padding-top: 105px;*/
}
body.fixed-header > header {
  position: fixed;
  background: #fff;
  left: 0;right: 0;top: 0;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 10px;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
#myTopnav ul li a {
  margin-top: 0px;
z-index: 99999;
  
}
#myTopnav ul li  a:hover, #myTopnav ul li a.active 
{
  background-color :#003366 ;
color :#fff !important;

}