
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Against Property Inquiry </title>

</head>
<body>

<img src="http://alexafincorp.com/img/logo.png">

    <div>
        <h1 style="font-family: Georgia;font-size: 1.8em;font-weight: normal; color: #004275 ">Welcome to Alexa FinCorp!</h1>
        <h2 style="font-family: Roboto;font-size: 1.5em; color: #004275 "> Inquiry for Loan Against Property</h2>
        <h3 style="font-family:Roboto ;font-size: 1em;">We find that you are registered in Alexa fincorp India, with following details: </h3><br>

        <div> Email : {{ email }}</div>
        <div> Name : {{ name }}</div>
        <div> City : {{ city }}</div>
        <div> Phone : {{ mobile }}</div>
        
        <div>Monthly Income: {{ monthlyincome }}</div>
        <h5>If you did not register for our website, please ignore this email</h5>
        
        <h3>We'll respond to your message within 24 hours. <br> Please call <b>+91 98128 98686 </b> for any urgent queries. Thank You!";</h3>
        <p style="font-size:150% ;">
                REGARDS<br>
               Alexa Fin Corp<br>
            +91 98128 98686<br>
                           
                            
                
                </p>

        <hr />
        
    </div>
</body>
</html>