
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inquiry for Life Insurance</title>

</head>
<body>

<img src="http://alexafincorp.com/img/logo.png">

    <div>
        <h1 style="font-family: Georgia;font-size: 1.8em;font-weight: normal; color: #004275 "></h1>
        <h2 style="font-family: Roboto;font-size: 1.5em; color: #004275 ">Life Insurance Inquiry </h2>
        <h3 style="font-family:Roboto ;font-size: 1em;">Someone registered in Alexafincorp India, with following details: </h3><br>

        <div> Email : {{ email }}</div>
        <div> Name : {{ name }}</div>
        <div> City : {{ city }}</div>
        <div> Phone : {{ mobile }}</div>
        
        <div>Monthly Income: {{ monthlyincome }}</div>
        <h5></h5>
        
        <h3></h3>
        <p style="font-size:150% ;">
               <br>
              <br>
            <br>
                           
                            
                
                </p>

        <hr />
        
    </div>
</body>
</html>